.home-container {
	transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header {
	height: calc(100vh - 4rem);
}

.header > * {
	margin: 1rem 0;
}

.header h1 {
	margin-bottom: 1rem;
}
